<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registro de Curso</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.1/css/bootstrap.min.css">
</head>
<body>
  <form action="/paso2" method="POST">
    <h1>Paso 1: Selecciona un curso</h1>
    <select name="curso" required>
      <option value="Java">Java</option>
      <option value="PHP">PHP</option>
      <option value=".NET">.NET</option>
    </select>
    <button type="submit">Siguiente</button>
  </form>
</body>
</html>
